<!DOCTYPE html>
<html>
<head charset="utf-8">
    <meta name="viewport" content="view-width-device" initial-scale="1.0">
    <title>Signup Page</title>
</head>
<h1>Signup Here</h1>
<form action="/signup" method="post">
    <label for ="username">Username: </label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password: </label>
    <input type="password" id ="password" name="password"   required>
    <br>
    <button type="submit">Signup</button>
</form>
</html>
